{
  "env": {
    "development": {
      "plugins": [
        "transform-async-to-generator",
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "presets": [
        ["es2015", { "loose": true,
                     "modules": false }]
      ]
    }
  }
}
